@tailwind base;
@tailwind components;
@tailwind utilities;

:lang(ja) {
  font-family: 'Sawarabi Gothic', sans-serif;
}

.link-span::before {
  content: '•';
  font-size: 0.75rem;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #999;
}

.up-loading {
  opacity: 0.4;
  transition: all 0.1s linear;
}

.variant {
  @apply decoration-2 decoration-solid underline underline-offset-4 decoration-transparent;
}

.list-muted-markers > ::marker {
  @apply text-gray-500;
}
