@tailwind base;
@tailwind components;
@tailwind utilities;

:lang(ja) {
  font-family: 'Sawarabi Gothic', sans-serif;
}

.link-span::before {
  content: '•';
  font-size: 0.75rem;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #999;
}

.up-loading {
  opacity: 0.4;
  transition: all 0.1s linear;
}

.underlined-word {
  position: relative;
}

.underlined-word::before {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0.06em;
  width: calc(100% - 2 * 0.06em);
  border-bottom: 2px #16a34a solid;
  transition: all 0.5s ease;
}

.list-muted-markers > ::marker {
  @apply text-gray-500;
}
