@tailwind base;
@tailwind components;
@tailwind utilities;

:lang(ja) {
  font-family: 'Sawarabi Gothic', sans-serif;
}

.up-loading {
  opacity: 0.4;
  transition: all 0.1s linear;
}

.variant {
  @apply decoration-2 decoration-solid underline underline-offset-4 decoration-gray-300;
  outline: none;
}

.variant:hover {
  @apply transition bg-gray-400 decoration-transparent;
}

.list-muted-markers > ::marker {
  @apply text-gray-500;
}

/* TODO fade in sidebar on update somehow? */

.line {
  position: relative;
}

.line-controls {
  position: absolute;
  left: -4em;
  top: 0;
}

.line-controls a, .line-controls span {
  @apply opacity-0;
}

.line-controls a.favourite {
  @apply opacity-60;
}

.line:hover .line-controls a {
  @apply opacity-60;
}

.line:hover .line-controls a:hover {
  @apply opacity-100;
}

.line:hover .line-controls span {
  @apply opacity-100;
}
